*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
header{
    background-color: mediumvioletred;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 25px 0 25px;
    height: 50px;
}
.logo{
    display: flex;
}
.logo h2{
    margin-left: 10px;
}
#image-cake{
    width: 25px;
    height: 25px;
}
nav{
    background-color: #f2d0e0;
    display: flex;
    flex-direction: column;
    text-align: left;
    float: left;
    height: 100vh;
    width: 30vh;
}
ul, li, a{
    margin: 10px;
    text-decoration: none;
    list-style-type: none;
}
#home-picture{
    width: 20px;
    height: 20px;
    text-align: left;
}
#sweet-picture{
    width: 20px;
    height: 20px;
    text-align: left;
}
#cart-picture{
    width: 20px;
    height: 20px;
    text-align: left;
}
#profile-picture{
    width: 20px;
    height: 20px;
    text-align: left;
}
#arrow-1{
    width: 20px;
    height: 20px;
    display: flex;
}
main{
    flex-direction:row;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
main > div > img{
    width: 200px;
    height: 230px;
    margin: 70px;
}
main h2,p{
    text-align: center;
    margin-top: 15px;
}

