*{
    margin: 0%;
    padding: 0%;
}
header{
    background-color: rgb(199, 21, 21);
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 25px 0 25px;
    height: 80px;
}
#txtbuscar{
    width: 70px;
    padding: 5px;
}
main{
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: 1fr 1fr;
    justify-content:center;
    grid-row-gap: 20px;
    padding: 60px;
}
main > div{
    border: 1px solid limegreen;
    margin: 10px;
}
div h2{
    margin: 15px;
}
div, video{
    width: 430px;
}
footer{
    background-color: rgb(199, 21, 21);
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 25px 0 25px;
    height: 80px;
}